<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
# !pip install sqlalchemy==1.3.9
!pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/varshahindupur/opt/anaconda3/lib/python3.9/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/varshahindupur/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/varshahindupur/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (2.0.2)
WARNING: Error parsing requirements for google-pasta: [Errno 2] No such file or directory: '/Users/varshahindupur/opt/anaconda3/lib/python3.9/site-packages/google_pasta-0.2.0.dist-info/METADATA'

In [ ]:
!pip install ipython-sql

In [ ]:
!pip install ibm_db_sa

In [ ]:
!pip install --upgrade typing-extensions

In [ ]:
!pip show sqlalchemy
!pip show typing-extensions

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

WARNING: Error parsing requirements for google-pasta: [Errno 2] No such file or directory: '/Users/varshahindupur/opt/anaconda3/lib/python3.9/site-packages/google_pasta-0.2.0.dist-info/METADATA'
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
deepface 0.0.79 requires tensorflow>=1.9.0, which is not installed.
xarray 2022.11.0 requires pandas>=1.3, but you have pandas 1.1.5 which is incompatible.

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
df.columns.tolist()

['Date',
 'Time (UTC)',
 'Booster_Version',
 'Launch_Site',
 'Payload',
 'PAYLOAD_MASS__KG_',
 'Orbit',
 'Customer',
 'Mission_Outcome',
 'Landing_Outcome']

In [14]:
%sql select distinct "Launch_Site" from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [21]:
%sql select distinct "Launch_Site" from SPACEXTBL where "Launch_Site" like "CCA%" limit 5;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [25]:
%sql select distinct "Customer" from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('SpaceX',),
 ('NASA (COTS) NRO',),
 ('NASA (COTS)',),
 ('NASA (CRS)',),
 ('MDA',),
 ('SES',),
 ('Thaicom',),
 ('Orbcomm',),
 ('AsiaSat',),
 ('U.S. Air Force NASA NOAA',),
 ('ABS Eutelsat',),
 ('Turkmenistan National Space Agency',),
 ('NASA (LSP) NOAA CNES',),
 ('SKY Perfect JSAT Group',),
 ('Iridium Communications',),
 ('EchoStar',),
 ('NRO',),
 ('Inmarsat',),
 ('Bulsatcom',),
 ('Intelsat',),
 ('NSPO',),
 ('U.S. Air Force',),
 ('SES EchoStar',),
 ('KT Corporation',),
 ('Northrop Grumman',),
 ('Hisdesat exactEarth SpaceX',),
 ('Hispasat  NovaWurks',),
 ('NASA (LSP)',),
 ('Thales-Alenia/BTRC',),
 ('Iridium Communications GFZ ‚ NASA',),
 ('Telesat',),
 ('Telkom Indonesia',),
 ('CONAE',),
 ('Es hailSat',),
 ('Spaceflight Industries',),
 ('USAF',),
 ('PSN, SpaceIL / IAI',),
 ('NASA (CCD) ',),
 ('Canadian Space Agency (CSA)',),
 ('Spacecom',),
 ('NASA (CRS), Kacific 1',),
 ('Sky Perfect JSAT, Kacific 1',),
 ('NASA (CTS)',),
 ('NASA (CCDev)',),
 ('SpaceX, Planet Labs',),
 ('U.S. Space Force',),
 ('Republic of Korea Army, Spaceflight Industries (BlackSky)',),
 ('SpaceX, Spaceflight Industries (BlackSky), Planet Labs',),
 ('SpaceX, Planet Labs, PlanetIQ',),
 ('CONAE, PlanetIQ, SpaceX',),
 ('USSF',),
 ('NASA (CCP)',),
 ('NASA / NOAA / ESA / EUMETSAT',)]

In [30]:
%sql select sum("PAYLOAD_MASS__KG_") as total_payload_mass_nasa_crs from SPACEXTBL where "Customer" = "NASA (CRS)";

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [31]:
%sql select distinct "Booster_Version" from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0003',),
 ('F9 v1.0  B0004',),
 ('F9 v1.0  B0005',),
 ('F9 v1.0  B0006',),
 ('F9 v1.0  B0007',),
 ('F9 v1.1  B1003',),
 ('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1010',),
 ('F9 v1.1 B1012',),
 ('F9 v1.1 B1013',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1015',),
 ('F9 v1.1 B1016',),
 ('F9 v1.1 B1018',),
 ('F9 FT B1019',),
 ('F9 v1.1 B1017',),
 ('F9 FT B1020',),
 ('F9 FT B1021.1',),
 ('F9 FT B1022',),
 ('F9 FT B1023.1',),
 ('F9 FT B1024',),
 ('F9 FT B1025.1',),
 ('F9 FT B1026',),
 ('F9 FT B1029.1',),
 ('F9 FT B1031.1',),
 ('F9 FT B1030',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1032.1',),
 ('F9 FT B1034',),
 ('F9 FT B1035.1',),
 ('F9 FT  B1029.2',),
 ('F9 FT B1036.1',),
 ('F9 FT B1037',),
 ('F9 B4 B1039.1',),
 ('F9 FT B1038.1',),
 ('F9 B4 B1040.1',),
 ('F9 B4 B1041.1',),
 ('F9 FT  B1031.2',),
 ('F9 B4 B1042.1',),
 ('F9 FT  B1035.2',),
 ('F9 FT  B1036.2',),
 ('F9 B4 B1043.1',),
 ('F9 FT  B1032.2',),
 ('F9 FT  B1038.2',),
 ('F9 B4 B1044',),
 ('F9 B4  B1041.2',),
 ('F9 B4  B1039.2',),
 ('F9 B4 B1045.1',),
 ('F9 B5  B1046.1',),
 ('F9 B4  B1043.2',),
 ('F9 B4  B1040.2',),
 ('F9 B4 B1045.2',),
 ('F9 B5B1047.1',),
 ('F9 B5B1048.1',),
 ('F9 B5 B1046.2',),
 ('F9 B5B1049.1',),
 ('F9 B5 B1048.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5B1050',),
 ('F9 B5B1054',),
 ('F9 B5 B1049.2',),
 ('F9 B5 B1048.3',),
 ('F9 B5B1051.1',),
 ('F9 B5B1056.1 ',),
 ('F9 B5 B1049.3',),
 ('F9 B5 B1051.2 ',),
 ('F9 B5 B1056.2 ',),
 ('F9 B5 B1047.3 ',),
 ('F9 B5 B1048.4',),
 ('F9 B5B1059.1',),
 ('F9 B5 B1056.3 ',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1046.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1059.2',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5B1058.1 ',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1059.3',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2 ',),
 ('F9 B5 B1051.5',),
 ('F9 B5 B1049.6',),
 ('F9 B5 B1059.4',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5B1062.1',),
 ('F9 B5B1061.1 ',),
 ('F9 B5B1063.1',),
 ('F9 B5 B1049.7 ',),
 ('F9 B5 B1058.4 ',)]

In [32]:
%sql select avg("PAYLOAD_MASS__KG_") as avg_payload_mass_bv_f9v1_1 from SPACEXTBL where "Booster_Version" = "F9 v1.1";

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [33]:
%sql select distinct "Landing_Outcome" from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [36]:
%sql select "Date" from SPACEXTBL where "Landing_Outcome" = "Success (ground pad)" order by "Date" limit 1;

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

In [56]:
%sql select min("Date") from SPACEXTBL where "Landing_Outcome" = "Success (ground pad)";

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

P.S. The use of ORDER BY ensures that the entire dataset is arranged in ascending order based on the "Date" column. This guarantees that the date shared is not only the first in the list but is also in the correct chronological order.

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [38]:
%sql select "Booster_Version" from SPACEXTBL where "PAYLOAD_MASS__KG_" between 4000 and 6000 and "Landing_Outcome" = "Success (drone ship)"

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [40]:
%sql select count("Landing_Outcome") as successful_landing from SPACEXTBL where "Landing_Outcome" like 'Success'

 * sqlite:///my_data1.db
Done.

[(38,)]

In [42]:
%sql select count("Landing_Outcome") as unsuccessful_landing from SPACEXTBL where "Landing_Outcome" like 'Failure'

 * sqlite:///my_data1.db
Done.

[(3,)]

In [43]:
%sql select "Landing_Outcome", count(*) as total_count from SPACEXTBL where "Landing_Outcome" in ('Success','Failure') group by "Landing_Outcome"

 * sqlite:///my_data1.db
Done.

[('Failure', 3), ('Success', 38)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [44]:
# wrong - The GROUP BY clause is currently grouping by "PAYLOAD_MASS__KG_", which might not give you the expected result.
%sql select "Booster_Version", max("PAYLOAD_MASS__KG_") as max_payload from SPACEXTBL group by "PAYLOAD_MASS__KG_"

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0003', 0),
 ('F9 B4 B1045.1', 362),
 ('F9 FT B1038.1', 475),
 ('F9 v1.0  B0006', 500),
 ('F9 v1.0  B0005', 525),
 ('F9 v1.1 B1017', 553),
 ('F9 v1.1 B1013', 570),
 ('F9 v1.0  B0007', 677),
 ('F9 B5B1063.1', 1192),
 ('F9 v1.1', 1316),
 ('F9 v1.1 B1015', 1898),
 ('F9 v1.1 B1018', 1952),
 ('F9 B5 B1059.2', 1977),
 ('F9 FT B1019', 2034),
 ('F9 FT  B1038.2', 2150),
 ('F9 FT  B1035.2', 2205),
 ('F9 v1.1 B1010', 2216),
 ('F9 FT B1025.1', 2257),
 ('F9 B5 B1056.2 ', 2268),
 ('F9 v1.1', 2296),
 ('F9 v1.1 B1012', 2395),
 ('F9 FT B1031.1', 2490),
 ('F9 B5B1056.1 ', 2495),
 ('F9 B5B1050', 2500),
 ('F9 B5B1059.1', 2617),
 ('F9 B4  B1039.2', 2647),
 ('F9 B4 B1045.2', 2697),
 ('F9 FT B1035.1', 2708),
 ('F9 B5 B1058.4 ', 2972),
 ('F9 B5 B1048.2', 3000),
 ('F9 FT B1023.1', 3100),
 ('F9 B5 B1059.4', 3130),
 ('F9 FT B1021.1', 3136),
 ('F9 v1.1', 3170),
 ('F9 B4 B1039.1', 3310),
 ('F9 v1.1', 3325),
 ('F9 B4 B1042.1', 3500),
 ('F9 FT B1024', 3600),
 ('F9 FT  B1029.2', 3669),
 ('F9 B5 B1046.3', 4000),
 ('F9 v1.1 B1014', 4159),
 ('F9 B5 B1051.2 ', 4200),
 ('F9 FT  B1032.2', 4230),
 ('F9 B5B1060.1', 4311),
 ('F9 B5B1054', 4400),
 ('F9 v1.1 B1011', 4428),
 ('F9 v1.1', 4535),
 ('F9 FT B1026', 4600),
 ('F9 FT B1022', 4696),
 ('F9 v1.1 B1016', 4707),
 ('F9 B5 B1048.3', 4850),
 ('F9 B4 B1040.1', 4990),
 ('F9 B4 B1043.1', 5000),
 ('F9 FT  B1031.2', 5200),
 ('F9 FT B1020', 5271),
 ('F9 FT  B1021.2', 5300),
 ('F9 B4  B1040.2', 5384),
 ('F9 B5 B1058.2 ', 5500),
 ('F9 FT B1030', 5600),
 ('F9 B5 B1046.2', 5800),
 ('F9 FT B1034', 6070),
 ('F9 B4 B1044', 6092),
 ('F9 B4  B1043.2', 6460),
 ('F9 B5 B1047.3 ', 6500),
 ('F9 FT B1037', 6761),
 ('F9 B5 B1056.3 ', 6956),
 ('F9 B5B1049.1', 7060),
 ('F9 B5B1047.1', 7075),
 ('F9 FT B1029.1', 9600),
 ('F9 B5 B1046.4', 12050),
 ('F9 B5B1051.1', 12055),
 ('F9 B5B1061.1 ', 12500),
 ('F9 B5B1058.1 ', 12530),
 ('F9 B5 B1049.3', 13620),
 ('F9 B5 B1051.5', 14932),
 ('F9 B5 B1059.3', 15410),
 ('F9 B5 B1049.6', 15440),
 ('F9 B5 B1048.4', 15600)]

In [50]:
# correct group by version
%sql select "Booster_Version", max("PAYLOAD_MASS__KG_") as max_payload from SPACEXTBL group by "Booster_Version"

 * sqlite:///my_data1.db
Done.

[('F9 B4  B1039.2', 2647),
 ('F9 B4  B1040.2', 5384),
 ('F9 B4  B1041.2', 9600),
 ('F9 B4  B1043.2', 6460),
 ('F9 B4 B1039.1', 3310),
 ('F9 B4 B1040.1', 4990),
 ('F9 B4 B1041.1', 9600),
 ('F9 B4 B1042.1', 3500),
 ('F9 B4 B1043.1', 5000),
 ('F9 B4 B1044', 6092),
 ('F9 B4 B1045.1', 362),
 ('F9 B4 B1045.2', 2697),
 ('F9 B5  B1046.1', 3600),
 ('F9 B5 B1046.2', 5800),
 ('F9 B5 B1046.3', 4000),
 ('F9 B5 B1046.4', 12050),
 ('F9 B5 B1047.2', 5300),
 ('F9 B5 B1047.3 ', 6500),
 ('F9 B5 B1048.2', 3000),
 ('F9 B5 B1048.3', 4850),
 ('F9 B5 B1048.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1049.2', 9600),
 ('F9 B5 B1049.3', 13620),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.6', 15440),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1051.2 ', 4200),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.5', 14932),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1056.2 ', 2268),
 ('F9 B5 B1056.3 ', 6956),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1058.2 ', 5500),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1058.4 ', 2972),
 ('F9 B5 B1059.2', 1977),
 ('F9 B5 B1059.3', 15410),
 ('F9 B5 B1059.4', 3130),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5B1047.1', 7075),
 ('F9 B5B1048.1', 9600),
 ('F9 B5B1049.1', 7060),
 ('F9 B5B1050', 2500),
 ('F9 B5B1051.1', 12055),
 ('F9 B5B1054', 4400),
 ('F9 B5B1056.1 ', 2495),
 ('F9 B5B1058.1 ', 12530),
 ('F9 B5B1059.1', 2617),
 ('F9 B5B1060.1', 4311),
 ('F9 B5B1061.1 ', 12500),
 ('F9 B5B1062.1', 4311),
 ('F9 B5B1063.1', 1192),
 ('F9 FT  B1021.2', 5300),
 ('F9 FT  B1029.2', 3669),
 ('F9 FT  B1031.2', 5200),
 ('F9 FT  B1032.2', 4230),
 ('F9 FT  B1035.2', 2205),
 ('F9 FT  B1036.2', 9600),
 ('F9 FT  B1038.2', 2150),
 ('F9 FT B1019', 2034),
 ('F9 FT B1020', 5271),
 ('F9 FT B1021.1', 3136),
 ('F9 FT B1022', 4696),
 ('F9 FT B1023.1', 3100),
 ('F9 FT B1024', 3600),
 ('F9 FT B1025.1', 2257),
 ('F9 FT B1026', 4600),
 ('F9 FT B1029.1', 9600),
 ('F9 FT B1030', 5600),
 ('F9 FT B1031.1', 2490),
 ('F9 FT B1032.1', 5300),
 ('F9 FT B1034', 6070),
 ('F9 FT B1035.1', 2708),
 ('F9 FT B1036.1', 9600),
 ('F9 FT B1037', 6761),
 ('F9 FT B1038.1', 475),
 ('F9 v1.0  B0003', 0),
 ('F9 v1.0  B0004', 0),
 ('F9 v1.0  B0005', 525),
 ('F9 v1.0  B0006', 500),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.1', 4535),
 ('F9 v1.1  B1003', 500),
 ('F9 v1.1 B1010', 2216),
 ('F9 v1.1 B1011', 4428),
 ('F9 v1.1 B1012', 2395),
 ('F9 v1.1 B1013', 570),
 ('F9 v1.1 B1014', 4159),
 ('F9 v1.1 B1015', 1898),
 ('F9 v1.1 B1016', 4707),
 ('F9 v1.1 B1017', 553),
 ('F9 v1.1 B1018', 1952)]

In [53]:
# wrong
%sql select "Booster_Version", "PAYLOAD_MASS__KG_" from SPACEXTBL where PAYLOAD_MASS__KG_ = (select max("PAYLOAD_MASS__KG_") from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

In [49]:
# right
%sql select "Booster_Version" from SPACEXTBL where PAYLOAD_MASS__KG_ = (select max("PAYLOAD_MASS__KG_") from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

In [54]:
# wrong
%sql select "Booster_Version", (select max("PAYLOAD_MASS__KG_") from SPACEXTBL) as max_payload from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0003', 15600),
 ('F9 v1.0  B0004', 15600),
 ('F9 v1.0  B0005', 15600),
 ('F9 v1.0  B0006', 15600),
 ('F9 v1.0  B0007', 15600),
 ('F9 v1.1  B1003', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1 B1011', 15600),
 ('F9 v1.1 B1010', 15600),
 ('F9 v1.1 B1012', 15600),
 ('F9 v1.1 B1013', 15600),
 ('F9 v1.1 B1014', 15600),
 ('F9 v1.1 B1015', 15600),
 ('F9 v1.1 B1016', 15600),
 ('F9 v1.1 B1018', 15600),
 ('F9 FT B1019', 15600),
 ('F9 v1.1 B1017', 15600),
 ('F9 FT B1020', 15600),
 ('F9 FT B1021.1', 15600),
 ('F9 FT B1022', 15600),
 ('F9 FT B1023.1', 15600),
 ('F9 FT B1024', 15600),
 ('F9 FT B1025.1', 15600),
 ('F9 FT B1026', 15600),
 ('F9 FT B1029.1', 15600),
 ('F9 FT B1031.1', 15600),
 ('F9 FT B1030', 15600),
 ('F9 FT  B1021.2', 15600),
 ('F9 FT B1032.1', 15600),
 ('F9 FT B1034', 15600),
 ('F9 FT B1035.1', 15600),
 ('F9 FT  B1029.2', 15600),
 ('F9 FT B1036.1', 15600),
 ('F9 FT B1037', 15600),
 ('F9 B4 B1039.1', 15600),
 ('F9 FT B1038.1', 15600),
 ('F9 B4 B1040.1', 15600),
 ('F9 B4 B1041.1', 15600),
 ('F9 FT  B1031.2', 15600),
 ('F9 B4 B1042.1', 15600),
 ('F9 FT  B1035.2', 15600),
 ('F9 FT  B1036.2', 15600),
 ('F9 B4 B1043.1', 15600),
 ('F9 FT  B1032.2', 15600),
 ('F9 FT  B1038.2', 15600),
 ('F9 B4 B1044', 15600),
 ('F9 B4  B1041.2', 15600),
 ('F9 B4  B1039.2', 15600),
 ('F9 B4 B1045.1', 15600),
 ('F9 B5  B1046.1', 15600),
 ('F9 B4  B1043.2', 15600),
 ('F9 B4  B1040.2', 15600),
 ('F9 B4 B1045.2', 15600),
 ('F9 B5B1047.1', 15600),
 ('F9 B5B1048.1', 15600),
 ('F9 B5 B1046.2', 15600),
 ('F9 B5B1049.1', 15600),
 ('F9 B5 B1048.2', 15600),
 ('F9 B5 B1047.2', 15600),
 ('F9 B5 B1046.3', 15600),
 ('F9 B5B1050', 15600),
 ('F9 B5B1054', 15600),
 ('F9 B5 B1049.2', 15600),
 ('F9 B5 B1048.3', 15600),
 ('F9 B5B1051.1', 15600),
 ('F9 B5B1056.1 ', 15600),
 ('F9 B5 B1049.3', 15600),
 ('F9 B5 B1051.2 ', 15600),
 ('F9 B5 B1056.2 ', 15600),
 ('F9 B5 B1047.3 ', 15600),
 ('F9 B5 B1048.4', 15600),
 ('F9 B5B1059.1', 15600),
 ('F9 B5 B1056.3 ', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1046.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1059.2', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5B1058.1 ', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1059.3', 15600),
 ('F9 B5B1060.1', 15600),
 ('F9 B5 B1058.2 ', 15600),
 ('F9 B5 B1051.5', 15600),
 ('F9 B5 B1049.6', 15600),
 ('F9 B5 B1059.4', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5B1062.1', 15600),
 ('F9 B5B1061.1 ', 15600),
 ('F9 B5B1063.1', 15600),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1058.4 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [58]:
# df.columns.tolist() # ['Date','Time (UTC)','Booster_Version','Launch_Site','Payload', 'PAYLOAD_MASS__KG_',
# 'Orbit','Customer','Mission_Outcome','Landing_Outcome']

In [61]:
%sql select "Date" from SPACEXTBL limit 1;

 * sqlite:///my_data1.db
Done.

[('2010-06-04',)]

In [57]:
%sql select distinct "Landing_Outcome" from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [65]:
%sql select substr("Date", 6,2), (select "Landing_Outcome" from SPACEXTBL where "Landing_Outcome" ='Failure (drone ship)') as failure_landing_drone_ship, "Booster_Version", "Launch_Site" from SPACEXTBL where substr("Date",0,5)='2015' order by Date;

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('02', 'Failure (drone ship)', 'F9 v1.1 B1013', 'CCAFS LC-40'),
 ('03', 'Failure (drone ship)', 'F9 v1.1 B1014', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1016', 'CCAFS LC-40'),
 ('06', 'Failure (drone ship)', 'F9 v1.1 B1018', 'CCAFS LC-40'),
 ('12', 'Failure (drone ship)', 'F9 FT B1019', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [67]:
%sql select "Landing_Outcome", count(*) as landing_count from SPACEXTBL where "Date" between "2010-06-04" and "2017-03-20" group by "Landing_Outcome" order by landing_count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

In [69]:
%sql SELECT "Landing_Outcome", COUNT(*) AS landing_count, RANK() OVER (ORDER BY COUNT(*) DESC) AS ranking from SPACEXTBL WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome" ORDER BY ranking;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10, 1),
 ('Success (drone ship)', 5, 2),
 ('Failure (drone ship)', 5, 2),
 ('Success (ground pad)', 3, 4),
 ('Controlled (ocean)', 3, 4),
 ('Uncontrolled (ocean)', 2, 6),
 ('Failure (parachute)', 2, 6),
 ('Precluded (drone ship)', 1, 8)]

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>